# Supabase
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# URL pública
APP_URL=

# Paddle
PADDLE_ENV=production
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=
PADDLE_PRICE_MONTHLY=
PADDLE_PRICE_QUARTERLY=
PADDLE_PRICE_SEMIANNUAL=
