# Supabase LUWIPI
NEXT_PUBLIC_SUPABASE_URL=https://sohyyocenodzqypjglix.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0gL0rYpL6pRalgre_h4HQg_D2vzyo_l
# Server-only. Nunca prefixar com NEXT_PUBLIC.
SUPABASE_SECRET_KEY=

# URL pública do app
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth é configurado no provider Google dentro do Supabase Auth.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
